{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h1>Вход</h1>
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        <div class="displaying">
            {{ form|crispy }}
        </div>
        <button class="btn btn-success-custom displaying-from-left-0" type="submit">Войти</button>
        <a href="{% url 'account_signup' %}" class="btn btn-success-custom displaying-from-left-0">Зарегистрироваться</a>
        {% if form.errors %}
        <a class="btn btn-danger-custom displaying-from-bottom-0" href="{% url 'account_reset_password' %}">Забыли пароль</a>
        {% endif %}
    </form>
{% endblock content %}