{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h1>Вход</h1>
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        <div class="displaying">
            {{ form|crispy }}
        </div>
        <div class="displaying-from-left">
            <button class="btn btn-success-custom" type="submit">Войти</button>
            {% if form.errors %}
            <a class="btn btn-danger-custom" href="{% url 'account_reset_password' %}">Забыли пароль</a>
            {% endif %}
        </div>
    </form>
{% endblock content %}