{% extends "_base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}
    <h1>{% trans "Сброс пароля" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Мы отправили Вам электронное письмо. Если вы не получили его, пожалуйста, проверьте свою папку со спамом. Свяжитесь с нами, если вы не получите его в течение нескольких минут.{% endblocktrans %}</p>
{% endblock %}