{% extends "_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Смена пароля" %}{% endblock %}

{% block content %}
    <h1>{% trans "Смена пароля" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success-custom" type="submit" name="action">{% trans "Сменить пароль" %}</button>
        <a class="btn btn-danger-custom" href="{% url 'account_reset_password' %}">{% trans "Забыли пароль?" %}</a>
    </form>
{% endblock %}