{% extends "_base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}

    <h1>{% trans "Сброс пароля" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Забыли свой пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам электронное письмо, позволяющее сбросить его." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-danger-custom" type="submit" value="Сбросить пароль" />
    </form>
    <p>{% blocktrans %}Пожалуйста, свяжитесь с нами, если у вас возникли какие-либо проблемы со сбросом вашего пароля.{% endblocktrans %}</p>
{% endblock %}