{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Зарегистрироваться{% endblock %}

{% block content %}
    <h1>Регистрация</h1>
    <p><strong>Обязательные поля отмечены знаком "*"</strong></p>
    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="displaying">
            {{ form|crispy }}
        </div>
        <button class="btn btn-success-custom displaying-from-left-0" type="submit">Зарегистрироваться</button>
    </form>
{% endblock content %}