{% extends "_base.html" %}

{% load i18n %}

{% block head_title %}Подтвердите Ваш E-mail адресс{% endblock %}

{% block content %}
    <h1>Подтвердите Ваш E-mail адресс</h1>

    <h4>Мы отправили Вам e-mail для подтверждения. Проследуйте по отправленной ссылке для завершения регистрации. Если вы не видите e-mail для подтверждения в своем почтовом ящике, проверьте папку "спам". Если в течение нескольких минут сообщение Вам не пришло, мы можем отправить его повторно.</h4>
    <a class="btn btn-primary" href="{% url 'account_email_verification_sent' %}">Отправить повторно</a>
{% endblock %}