{% extends "_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}Мы отправили Вам письмо для подтверждения. Проследуте по предоставленной ссылке для завершения регистрации. Если вы не видите письмо для подтверждения в своем почтовом ящике, проверте папку "Спам". Пожалуйста свяжитесь с нами, если Вы не получили письмо в течение нескольких минут.{% endblocktrans %}</p>

{% endblock %}