{% extends "_base.html" %}

{% block title %}Главная страница{% endblock title %}

{% block extrahead %}
    <meta name="description" content="Здесь вы найдете полезную информацию и поддержку в решении различных жизненных проблем. Наша цель - помочь вам раскрыть свой потенциал, научиться управлять эмоциями и принимать взвешенные решения. Мы готовы поделиться своим опытом и знаниями, чтобы помочь вам достичь гармонии и удовлетворения в жизни. Будем рады видеть вас на нашем сайте!" />
{% endblock extrahead %}

{% block content %}
    <h1>{{ home_info.title }}</h1>
    <div class="welcome displaying">
        <img class="my-photo" src="{{ home_info.photo.url }}" alt="Мое фото" />
        <p>{{ home_info.description }}</p>
    </div>
    {% include "welcome/education.html" %}
{% endblock content%}