body {
    padding: 1rem;
    padding-top: 5rem;
    background-color: ghostwhite;
}

.navbar {
    background-color: #ffccf7;
}

.auth {
    flex-grow: unset;
    
}

a.btn {
    margin-left: 3px;
    margin-right: 3px;
}

#user {
    font-size: large;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 30px;
}

h1 {
    color: rgb(84, 0, 84);
}

.my_photo {
    width: 30%;
}

.input-group-text {
    padding: 0.7rem 1.5rem;
    font-size: 1.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}