{% extends "admin/base.html" %}
{% load static %}
{% load welcome_tags %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
<link rel="stylesheet" href="{% static 'css/admin.css' %}" />
{% endblock %}

{% block branding %}
{% get_admin_url as admin_url %}
<h1 id="site-name"><a href="{{ admin_url }}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
