{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block extrahead %}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{{ form.media }}
{% endblock extrahead %}

{% block title %}Консультация{% endblock title %}

{% block content %}
    <div class="not-visible">
        <h1>{{ consultation.title }}</h1>
        <h5>{{ consultation.description }}</h5>
        <br />
        <form method="post" action="">
            {% csrf_token %}
            {{ form.errors }}
            {{ form|crispy }}
            <button class="btn btn-success" type="submit">Записаться</button>
        </form>
    </div>
{% endblock content %}