{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block extrahead %}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{{ form.media }}
{% endblock extrahead %}

{% block title %}Консультация{% endblock title %}

{% block content %}
    <h1>{{ consultation.title }}</h1>
    <h4>{{ consultation.description }}</h4>
    <form method="post" action="{{ consultation.get_absolute_url }}">
        {% csrf_token %}
        {{ form.errors }}
        <div class="displaying">
            {{ form|crispy }}
        </div>
        <div class="displaying-from-left-0">
            <button class="btn btn-success-custom" type="submit">Записаться</button>
        </div>
    </form>
{% endblock content %}
