{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Ваши консультации{% endblock title %}

{% block content %}
    <h1>Здесь будут отображаться Ваши записи, {{ user }}!</h1>
    <br />
    <h3>Вы записаны на:</h3>
    {% for cons in confirmed_consultations %}
        <br />
        <h5>{{ cons.consultation }}{{ cons.date_time }}</h5>
    {% endfor %}
    <br />
    <h3>Записи ждут одобрения врача:</h3>
    {% for cons in non_confirmed_consultations %}
        <br />
        <h5>{{ cons.consultation }}{{ cons.date_time }}</h5>
    {% endfor %}
    <br />
    <hr />
    <h1>Ваши вопросы</h1>
    {% for issue in issues %}
        <br />
        <div>
            <h4>{{ issue.title }}</h4>
            <strong>{{ issue.time_updated }}</strong>
            <p>{{ issue.description }}</p>
        </div>
        <div>
            <h4>Ответ на Ваш вопрос:</h4>
            <p>{{ issue.answer.description }}</p>
        </div>
    {% endfor %}
{% endblock content %}