{% extends "_base.html" %}

{% block title %}Список статей{% endblock title %}

{% block content %}
    <h1>Статьи</h1>
    <div class="article-cards">
        {% for article in articles %}
        <div class="card">
            <img src="{{ article.photo.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text"><small>{{ article.time_updated }}</small></p>
                <p class="card-text">{{ article.description|truncatechars:130 }}</p>
                <div class="custom-card-footer">
                    <a href="{{ article.get_absolute_url }}" class="btn btn-outline-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}


