{% load static %}
{% load welcome_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!--ширина странички равна ширине девайса, и масштаб по умолчанию равен 1-->
        <title>{% block title %}{% endblock title %}</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
        {% block extrahead %}{% endblock extrahead %}
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="{% url 'home' %}">Главная</a> -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto nav-tabs">
                        {% show_navbar_links as navbar %}
                        {% for el in navbar %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url el.view_name %}">{{ el.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="auth collapse navbar-collapse" id="navbarCollapse"></div>
                    {% if user.is_superuser %}
                        <a class="btn btn-outline-success" href="/admin/">Админ панель</a>
                        <strong id="user">| {{ user.username }} |</strong>
                        <a class="btn btn-outline-danger" href="{% url 'account_logout' %}">Выйти</a>
                    {% elif user.is_authenticated %}
                        <strong id="user">{{ user.username }} |</strong>
                        <a class="btn btn-outline-danger" href="{% url 'account_logout' %}">Выйти</a>
                    {% else %}
                        <a class="btn btn-outline-primary" href="{% url 'account_login' %}">Войти</a>
                        <a class="btn btn-outline-success" href="{% url 'account_signup' %}">Зарегистрироваться</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="container">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                {% for el in navbar %}
                    <li class="nav-item">
                        <a class="nav-link px-2 text-muted" href="{% url el.view_name %}">{{ el.title }}</a>
                    </li>
                {% endfor %}
                </ul>
                <p class="text-center text-muted">© 2023 Company, Inc</p>
            </footer>
        </div>
        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <!-- JavaScript -->
        <script src="{% static 'js/base.js' %}"></script>
    </body>
</html>