{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Ответ{% endblock title %}

{% block content %}
    <div class="displaying">
        <h3>Ответ на {{ issue.title }} </h3>
        <p>{{ issue.desctiption }}</p>
        <form method="post" action="{% url 'add_answer' %}">
            {% csrf_token %}
            {{ form.errors }}
            {{ form|crispy }}
            <button class="btn btn-success-custom" type="submit">Ответить</button>
        </form>
    </div>
{% endblock content %}