{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Ваш вопрос{% endblock title %}

{% block content %}
        <h3>Ваши вопросы и ответы на них будут отображаться во вкладке "Ваши записи", также они будут видны и другим пользователям во вкладке "Форум"</h3>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.errors }}
            <div class="displaying">
                {{ form|crispy }}
            </div>
            <div class="displaying-from-left">
                <button class="btn btn-success-custom" type="submit">Задать вопрос</button>
            </div>
        </form>
{% endblock content %}