{% extends "_base.html" %}
{% load static %}

{% block title %}Все вопросы{% endblock title %}

{% block extrahead %}
    <meta name="description" content="Здесь Вы можете найти ответ на интересующую Вас пробему или задать свой вопрос специалисту" />
{% endblock extrahead %}

{% block content %}
    <h1>Форум</h1>
    <h3>Здесь Вы можете задать свой вопрос!</h3>
    <div class="displaying-from-left-0">
        <a href="{% url 'add_issue' %}" class="btn btn-success-custom">Задать вопрос</a>
    </div>
    <div class="cards">
        {% for issue in issues %}
        <div class="card displaying-from-left-0">
            <div class="card-body">
                <h3 class="card-title">{{ issue.title }}</h3>
                <p><strong>{{ issue.patient }}: {{ issue.time_updated }}</strong></p>
                <p class="card-text">{{ issue.description }}</p>
            {% if user.is_superuser and issue.answer.description == "" %}
            <a href="{{ issue.get_absolute_url }}" id="btn-admin" class="btn btn-success-custom">Ответить</a>
            {% endif %}
            </div>
            <div class="card-footer">
                <h3>Ответ на Ваш вопрос:</h3>
                {% if issue.answer.description == "" %}
                <div class="gif">
                    <img src="{% static 'images/typing-gif.gif' %}" alt="Кот быстро набирает текст на клавиатуре" />
                </div>
                {% endif %}
                <p><strong>{{ issue.answer.time_updated }}</strong></p>
                <p class="card-text">{{ issue.answer.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}